<%# app/views/niches/_details.html.erb %>
<% return unless nich.present? %> <!-- Évite de charger si nich est nil -->

<div id="<%= dom_id(nich) %>">
  <%= turbo_stream_from dom_id(nich) %>

  <% if ideas&.any? %>
  <h1 class='my-4'>Voici <%= ideas.length %> idées de produits rentable à lancer</h1>

    <% ideas.each do |idea| %>
      <div class="mb-3">
        <div class="card">
          <%= button_to select_idea_project_nich_idea_path(project, nich, idea),
            class: 'btn btn-outline-dark text-decoration-none w-100',
            method: :patch,  data: { turbo: false },

            form: { authenticity_token: true } do %>
            <div class="card-body">
              <p class="card-text"><%= idea.description || '...' %></p>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>

  <% else %>
    <h1 class='my-4'>Analyse en cours...</h1>
  <% end %>

</div>
