<%# app/views/niches/_details.html.erb %>
<% return unless nich.present? %> <!-- Évite de charger si nich est nil -->

<div id="<%= dom_id(nich) %>">
  <%= turbo_stream_from dom_id(nich) %>
  <div class="details">
      <h5>Problème</h5>
      <p><%= nich.problem || '...'%></p>

      <h5>Peur</h5>
      <p><%= nich.fear || '...'%></p>

      <h5>Désir</h5>
      <p><%= nich.desire || '...' %></p>
    </div>
    <%= button_to 'Sélectionner cette niche',
    select_project_nich_path(project, nich),
    method: :patch, class: 'btn btn-primary',
    data: { turbo: false },
    form: { authenticity_token: true }%>
</div>
