<h1 class="text-center mb-4 mt-3">Renseignez jusqu'à 5 compétences</h1>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <!-- Formulaire de création des skills -->
        <%= simple_form_for [@project, @skill] do |f| %>
          <div class="form-group">
            <%= f.input :name, label: 'compétences', input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group">
            <%= f.submit 'Ajouter', class: 'btn btn-success btn-block' %>
          </div>
        <% end %>

        <!-- Affichage des niches existantes pour le projet -->
        <h4 class="mt-5">Niches existantes pour ce projet :</h4>
        <% if @skills.any? %>
          <ul class="list-group mt-3">
            <% @skills.each do |skill| %>
              <li class="list-group-item"><%= skill.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p class="mt-3">Aucune niche existante pour ce projet.</p>
        <% end %>

        <div class="mt-4">
        <%= link_to "démarrer l'étude de marché", generate_ai_data_project_niches_path(@project), method: :post,
            data: { turbo_method: :post },
            class: 'btn btn-primary btn-block' %>
            
      </div>
    </div>
  </div>
</div>
