<div class="items-container">
  <%# <h1 class="text-center mb-4"><%= @project.niches.find_by(status: 1).name %></h1>

  <div class="items-links">
    <!-- Card pour chaque lien, toute la carte est cliquable -->
    <div class="card mb-1">
      <%= link_to project_nich_avatar_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none' do %>
        <div class="card-body">
          <p class='text-decoration-none'>Voir l'Avatar</p>
        </div>
      <% end %>
    </div>

    <div class="card mb-1">
      <%= link_to project_nich_offer_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none' do %>
        <div class="card-body">
          <p>Voir l'Offre</p>
        </div>
      <% end %>
    </div>

    <div class="card mb-1">
      <%= link_to project_nich_hypothesis_result_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none' do %>
        <div class="card-body">
          <p>Résultats d'Hypothèses</p>
        </div>
      <% end %>
    </div>

    <div class="card mb-1">
      <%= link_to project_nich_message_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none' do %>
        <div class="card-body">
          <p>Voir le Message</p>
        </div>
      <% end %>
    </div>

    <div class="card mb-4">
      <%= link_to project_nich_script_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none' do %>
        <div class="card-body">
          <p>Voir le Script</p>
        </div>
      <% end %>
    </div>
  </div>


  <%= link_to "Retour à l'accueil", root_path, class: 'btn btn-primary back-button mt-4', data: { turbo: false } %>
  <%= link_to 'prospecter', '#', class: 'btn btn-outline-primary mt-4' %>
</div>
