<div class="items-container">
  <div class="items-links">
    <div class="card mb-1 <%= 'active' if request.path == project_nich_avatar_path(@project, @nich) %>">
      <%= link_to project_nich_avatar_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none text-dark' do %>
        <div class="card-body">
          <p>Voir l'Avatar</p>
        </div>
      <% end %>
    </div>

    <div class="card mb-1 <%= 'active' if request.path == project_nich_offer_path(@project, @nich) %>">
      <%= link_to project_nich_offer_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none text-dark' do %>
        <div class="card-body">
          <p>Voir l'Offre</p>
        </div>
      <% end %>
    </div>

    <div class="card mb-1 <%= 'active' if request.path == project_nich_hypothesis_result_path(@project, @nich) %>">
      <%= link_to project_nich_hypothesis_result_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none text-dark' do %>
        <div class="card-body">
          <p>Hypothèses</p>
        </div>
      <% end %>
    </div>

    <div class="card mb-1 <%= 'active' if request.path == project_nich_message_path(@project, @nich) %>">
      <%= link_to project_nich_message_path(@project, @nich), data: { turbo: false }, class: 'text-decoration-none text-dark' do %>
        <div class="card-body">
          <p>Voir le Message</p>
        </div>
      <% end %>
    </div>

  </div>

  <%= link_to "accueil", root_path, class: 'btn btn-custom mx-3 mt-4', data: { turbo: false } %>
</div>
