<div class="items-container">
  <h1 class="text-center mb-4"><%= @project.niches.find_by(status: 1).name %></h1>

  <h4>Détails du Projet</h4>

  <div class="items-links", >
    <p><%= link_to 'Voir l\'Avatar', project_nich_avatar_path(@project, @nich), data: { turbo: false } %></p>
    <p><%= link_to 'Voir l\'Offre', project_nich_offer_path(@project, @nich), data: { turbo: false } %></p>
    <p><%= link_to 'Résultats d\'Hypothèses', project_nich_hypothesis_result_path(@project, @nich), data: { turbo: false } %></p>
    <p><%= link_to 'Voir le Message', project_nich_message_path(@project, @nich), data: { turbo: false } %></p>
    <p><%= link_to 'Voir le Script', project_nich_script_path(@project, @nich, data: { turbo: false }) %></p>
  </div>

  <%= link_to "Retour à l'accueil", root_path, class: 'btn btn-primary back-button', data: { turbo: false } %>
  <%= link_to 'prospecter', '#', class: 'btn btn-outline-primary' %>
</div>
